$principal-font: 'Ephesis', cursive;
$secondary-font: 'Raleway', sans-serif;

$color :(
   "terra": #614124,
    "terracotta": #CC704B,
    "crem": #E8C07D,
    "verde": #9FC088,
    "nero": black,
    "opacity": rgba(0, 0, 0, 0.8),
    "bianco":white, 
)    