$principal-font: 'Ephesis', cursive;
$secondary-font: 'Raleway', sans-serif;

$color:(
    "principal": #A33201,
    "secundario": #56A118,
    "dark": hsl(0, 0%, 0%),
    "opacity": rgba(0, 0, 0, 0.8),
    )