.button {
    ul {
        @include flex;
        width: 100%;
        height: 150px;
        margin-top: 50px;
        justify-content: space-evenly;
        text-align: center;
     :hover{
        cursor: pointer;
       }
        
    }
    

    li {
        border-radius: 10px;
        width: 22%;
        height: 80px;
        @include flex;
        align-content: center;
        background-color:rgba(220, 20, 60, 0.555);
       
        
    }


    a {
        font-size: 20px;
        font-weight: bold;
        font-family: $secondary-font;
        color: map-get($map: $color, $key: "dark");
       
    }

}

.parallax1 {
    background-image: url(../assets/eventos/miel-parallax.jpg);
    @include parallax;
}

.parallax2 {
    background-image: url(../assets/eventos/mermelada-parallax.jpg);
    @include parallax;
}

.parallax3 {
    background-image: url(../assets/eventos/veg-parallax.jpg);
    @include parallax;
}

.parallax4 {
    background-image: url(../assets/eventos/ecology-parallax.jpg);
    @include parallax;

}

.art-evento {
    @include flex;
    gap: 50px;
    height: 800px;
    text-align: start;



    article {
        @include flex;
        flex-direction: column;
        width: 40%;
        height: 700px;
        font-size: 50px;
        font-family: $principal-font;
        color: black;

    }

    img {
        box-shadow: 0px 3px 5px white;
    }

}
