.form-container {
    @include flex;
    gap: 80px;
    margin: 60px auto;
    background: none;

    input {
        @include flex;
        background: none;
        margin: auto auto 15px auto;
        width: 350px;
        height: 50px;
        border: none;
        outline: none;
        border-bottom: 1px solid map-get($map: $color, $key: "nero");
        font-size: 18px;
        font-family: $secondary-font;
        font-weight: bold;
    }

    p {
        text-align: center;
        font-size: 25px;
        font-family: $secondary-font;

    }

    textarea {
        @include flex;
        width: 350px;
        height: 150px;
        margin: 15px auto;
        background-color: map-get($map: $color, $key: "crem");
        border: 1px solid map-get($map: $color, $key: "terracotta");
        outline: none;
        font-size: 18px;
        font-family: $secondary-font;
        font-weight: bold;
    }

    &:nth-child(4) {
        margin-top: 40px;
    }

    .check {
        @include flex;

        input {
            width: 20px;
            height: 20px;
        }

        span {
            font-size: 18px;
            font-family: $secondary-font;
            font-weight: bold;

        }
    }

    .form-buttons {
        @include flex;
        margin-top: 30px;
        gap: 25px;

        input {
            @include button;
            width: 150px;
            height: 30px;
            font-size: 15px;
            font-family: $secondary-font;

            &:hover {
                cursor: pointer;
            }

        }
    }

}