.title-pages {
    h1 {
        text-align: center;
        height: 200px;
        font-size: 150px;
        font-family: $secondary-font;
        text-decoration: none;

    }

    h3 {
        text-align: center;
        font-size: 50px;
        font-family: $principal-font;
        padding-left: 40px;

    }
}

.intro {
    @include flex;
    flex-direction: column;
    text-align: center;
    margin: 50px auto;
    width: 90%;
    height: 500px;
    border-radius: 10px;
    background-color: rgb(243, 229, 167);

    p {
        width: 70%;
        font-size: 20px;
        font-family: $secondary-font;
        color: map-get($map: $color, $key: "dark");
        margin-top: 20px;
    }

    strong {
        text-decoration: underline;
    }

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(2, 500px);
    grid-template-areas:
        "card1 card2"
        "card3 card4";

    grid-column-gap: 30px;
    margin: 60px 0 30px 0;
    align-items: center;
    justify-content: center;
    text-align: center;

    .text {
        position: absolute;
        visibility: hidden;
        opacity: 0;
       

        h4 {
            font-size: 50px;
            font-family: $principal-font;
            color: white;
            margin-top: 60px;

        }

        article {
            font-size: 20px;
            font-family: $secondary-font;
            color: white;
            margin-top: 20px;
        }

    }

    :hover .text {
        background-color: rgb(0, 0, 0, 0.7);
        height: 100%;
        bottom: 0px;
        visibility: visible;
        opacity: 1;
    }

    .card1 {
        grid-area: card1;
        width: 300px;
        height: 400px;
        margin: 0 auto 0 auto;
        position: relative;


        img {
            width: 300px;
            height: 400px;
            border-radius: 10px;
            box-shadow: 0px 5px 8px black;

        }

        :hover {
            cursor: pointer;
        }

    }

    .card2 {
        grid-area: card2;
        @extend .card1;
    }

    .card3 {
        grid-area: card3;
        @extend .card1;
    }

    .card4 {
        grid-area: card4;
        @extend .card1;
    }
}