/* tablet */
@media (min-width: 500px) and (max-width: 900px) {
    section {
        h1 {
            font-size: 160px;
        }

        h3 {
            font-size: 50px;
            margin-top: 0px;
        }
    }

    .menu1 ul:hover {
        cursor: none;
        transform: scale(0);


    }

    body {
        height: 100vh;
    }

    .title-pages {
        h1 {
            font-size: 100px;
            height: 100px;
            margin-top: 20px;
        }

    }

    .intro {
        display: block;
        width: 90%;
        height: 800px;

        p {
            width: 80%;
            padding: 22px;
            margin: 0 auto;
        }
    }

    .grid-container {
        margin-top: -100px;
        margin-bottom: 150px;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, 700px);
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4";

        .text {
            height: 230px;
            margin-top: 410px;
            opacity: 1;
        }

        .card1:hover {
            cursor: none;
            display: none;
        }

    }

    article {
        text-align: center;
    }

    .button {
        ul {
            height: 100px;
            margin-top: 10px;

            &:hover {
                display: none;
                cursor: none;
            }
        }


        li {
            border: 2px;
            width: 22%;
            height: 60px;
        }

        a {
            font-size: 16px;
            font-weight: lighter;

        }

    }

    .parallax1,
    .parallax2,
    .parallax3,
    .parallax4 {
        height: 150px;
    }

    .art-evento {
        display: block;
        text-align: center;
        height: auto;
        margin: 30px auto;

        article {
            display: block;
            margin: 0 auto;
            width: 80%;
            font-size: 40px;
            height: 400px;
        }
    }

    .form-container {
        gap: 30px;
    }

    .google-maps {
        height: 300px;
        margin-bottom: 30px;
    }

    .menu a:hover {
        text-decoration: none;
    }

    .menu {
        width: 100%;
        left: 0;
        top: 120px;
        height: 40px;

        a {
            font-size: 20px;
            color: map-get($map: $color, $key: "bianco");
        }

    }

    footer {
        .address {
            font-size: 18px;
        }
    }
}

/* mobile */
@media (min-width: 200px) and (max-width: 500px) {
    .nav-bar {
        padding: 5px 5px 0 5px;


        .link2 {
            margin-right: 10px;
        }


    }

    .menu {
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        height: 30%;
        top: 95px;
        left: 0;
        background-color: map-get($map: $color, $key: "nero");

        a {
            font-size: 20px;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .social-media {
        padding: 0px;
        padding-bottom: 10px;
        justify-content: center;
    }

    hr {
        display: none;
    }

    section {
        h1 {
            font-size: 70px;
            text-decoration: underline 1px double map-get($map: $color, $key: "nero");
            font-weight: lighter;
            letter-spacing: 3px;
        }

        h3 {
            font-size: 20px;
            margin-top: 0px;
            letter-spacing: 5px;
            margin-top: -15px;
        }
    }

    .menu1 ul:hover {
        transform: scale(0);

    }

    .img-home {
        @include flex;
        flex-direction: column;
        gap: 40px;

        &:first-child {
            margin-top: 40px;
        }

        &:last-child {
            margin-bottom: 40px;
        }

        img {
            border-radius: 10px;
            box-shadow: 0px 8px 6px map-get($map: $color, $key: "nero");
        }

        h4 {
            font-size: 30px;
            font-family: $secondary-font;
            color: map-get($map: $color, $key: "nero");
            text-align: center;
            background-color: map-get($map: $color, $key: "crem");
            box-shadow: inset 0px -4px 5px map-get($map: $color, $key: "terracotta");
            border-radius: 10px;
            width: 200px;
            margin: 10px auto 0 auto;
        }

    }

    .menu1 {
        display: none;

    }

    footer {
        .address {
            font-size: 18px;
        }

    }

    .grid-container {
        margin-top: -130px;
        margin-bottom: 150px;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, 700px);
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4";


        .text {
            height: 230px;
            margin-top: 410px;
            opacity: 1;
            background: none;

            h4 {
                font-size: 50px;
                letter-spacing: 5px;
                text-decoration: underline 1px solid map-get($map: $color, $key: "crem");
                font-weight: lighter;
                color: map-get($map: $color, $key: "nero");
            }

            article {
                color: map-get($map: $color, $key: "nero");
            }
        }

    }

    .title-pages {
        h1 {
            font-size: 70px;
            text-decoration: underline 1px double map-get($map: $color, $key: "nero");
            height: 70px;

        }

        .title-contact {
            font-size: 53px;
            height: 60px;
        }

        h3 {
            font-size: 20px;
            margin: 0;
            padding: 0;
            letter-spacing: 5px;

        }

    }

    .intro {
        width: 90%;
        height: 100%;
        margin: 20px auto 20px auto;
        border-radius: 10px;

        p {
            width: 85%;
        }
    }

    .familia {
        margin-top: 20px;

        .modulo {
            gap: 30px;

            p {
                font-size: 25px;
            }
        }
    }

    .familia article {
        p:nth-child(3) {
            font-size: 35px;
            margin-top: 20px;
        }

        p:last-child {
            font-size: 20px;
            margin-top: 10px;
        }
    }
    .art article{
        width: 90%;
    }

    .button {
        ul {
            height: 70px;
            margin-top: 10px;
        }

        li {
            border: 1px solid map-get($map: $color, $key: "terracotta");
            width: 25%;
            height: 60px;

            &:hover {
                box-shadow: none;
            }
        }

        a {
            font-size: 12px;
        }

    }

    .parallax1,
    .parallax2,
    .parallax3,
    .parallax4 {
        display: none;
    }

    .art-evento {
        display: block;
        text-align: center;
        height: auto;
        margin: 10px auto 40px auto;

        article {
            display: block;
            margin: 0 auto 15px auto;
            width: 80%;
            font-size: 25px;
            height: 100%;
        }
    }

    .form-container {
        margin-top: 20px;

        input {
            width: 250px;
        }

        textarea {
            width: 300px;
            height: 150px;
        }
    }

    .google-maps {
        width: 320px;
        height: 200px;
        margin-bottom: 30px;
    }


}