/* tablet */
@media (min-width: 500px) and (max-width: 900px) {
    .cursor :hover {
        display: none;
    }

    section {
        h1 {
            font-size: 160px;
        }

        h3 {
            font-size: 50px;
            margin-top: 0px;
        }
    }

    .menu1 ul :hover {
        cursor: none;
        transform: scale(0);


    }

    body {
        height: 100vh;
    }

    .title-pages {
        h1 {
            font-size: 100px;
            height: 100px;
            margin-top: 20px;
        }

    }

    .intro {
        display: block;
        width: 90%;
        height: 800px;

        p {
            width: 80%;
            padding: 22px;
            margin: 0 auto;
        }
    }

    .grid-container {
        margin-top: 0px;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, 700px);
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4";


        .card1,
        .card2,
        .card3,
        .card4 {
            position: static;
            height: 650px;

        }

        .card1:hover {
            display: none;
            cursor: none;
        }

        :hover .text {
            display: none;
            cursor: none;
        }

        .text {
            position: static;
            visibility: visible;
            opacity: 1;
            text-align: center;

            h4,
            article {
                color: black;
                margin-top: 10px;

            }
        }
    }

    article {
        text-align: center;
    }

    .button {
        ul:hover {
            display: none;
            cursor: none;
        }

        ul {
            height: 100px;
            margin-top: 10px;
        }

        li {
            background: none;
            border: 1.5px solid map-get($map: $color, $key: "crem");
            width: 22%;
            height: 60px;
            background-color: map-get($map: $color, $key: "opacity");
        }

        a {
            font-size: 16px;
            color: white;
            font-weight: lighter;

        }

    }

    .parallax1,
    .parallax2,
    .parallax3,
    .parallax4 {
        height: 150px;
    }

    .art-evento {
        display: block;
        text-align: center;
        height: auto;
        margin: 30px auto;

        article {
            display: block;
            margin: 0 auto;
            width: 80%;
            font-size: 40px;
            height: 400px;
        }
    }

    .form-container {
        gap: 30px;
    }

    .google-maps {
        height: 300px;
        margin-bottom: 30px;
    }

    .menu a:hover {
        text-decoration: none;
    }

    .menu {
        width: 100%;
        left: 0;
        top: 120px;
        height: 40px;

        a {
            font-size: 20px;
            color: white;
        }

    }

    footer {
        .address {
            font-size: 18px;
        }
    }
}

/* mobile */
@media (min-width: 200px) and (max-width: 500px) {
    .nav-bar {
        padding: 5px 5px 0 5px;

        .link2 {
            margin-right: 10px;
        }

        .cursor :hover {
            display: none;
        }
    }

    .social-media {
        padding: 0px;
        padding-bottom: 10px;
        justify-content: center;
    }

    hr {
        display: none;
    }

    section {
        h1 {
            font-size: 70px;
            text-decoration: underline 1px double map-get($map: $color, $key: "dark");
        }

        h3 {
            font-size: 20px;
            margin-top: 0px;
            letter-spacing: 5px;
            margin-top: -15px;
        }
    }

    .menu1 ul :hover {
        cursor: none;
        transform: scale(0);

    }

    .img-home {
        @include flex;
        flex-direction: column;
        gap: 40px;

        &:first-child {
            margin-top: 40px;
        }

        &:last-child {
            margin-bottom: 40px;
        }

        img {
            border-radius: 10px;
            box-shadow: 0px 8px 6px map-get($map: $color, $key: "dark");
        }

        h4 {
            font-size: 30px;
            font-family: $secondary-font;
            color: map-get($map: $color, $key: "dark");
            text-align: center;
            background-color: map-get($map: $color, $key: "crem");
            border-radius: 45px;
            width: 200px;
            margin: 5px auto 0 auto;
            border: 1px solid;
        }

    }

    .menu1 {
        display: none;
    }

    footer {
        .address {
            font-size: 18px;
        }

    }

    .grid-container {
        margin-top: 0px;
        grid-template-columns: 400px;
        grid-template-rows: repeat(4, 700px);
        grid-template-areas:
            "card1"
            "card2"
            "card3"
            "card4";


        .card1,
        .card2,
        .card3,
        .card4 {
            position: static;
            height: 650px;

        }

        .card1:hover {
            display: none;
            cursor: none;
        }

        :hover .text {
            display: none;
            cursor: none;
        }

        .text {
            position: static;
            visibility: visible;
            opacity: 1;
            text-align: center;

            h4,
            article {
                color: black;
                margin-top: 10px;

            }
        }
    }

    .title-pages {
        h1 {
            font-size: 70px;
            text-decoration: underline 1px double map-get($map: $color, $key: "dark");
            height: 70px;

        }

        .title-contact {
            font-size: 53px;
            height: 60px;
        }

        h3 {
            font-size: 20px;
            margin: 0;
            padding: 0;
            letter-spacing: 5px;

        }

    }

    .intro {
        height: 100%;
        margin: 0px auto 20px auto;
    }

    .familia {
        margin-top: 20px;

        .modulo {
            gap: 30px;

            p {
                font-size: 25px;
            }
        }
    }

    .familia article {
        p:nth-child(3) {
            font-size: 35px;
            margin-top: 20px;
        }

        p:last-child {
            font-size: 20px;
            margin-top: 10px;
        }
    }

    .button {
        ul:hover {
            display: none;
            cursor: none;
        }

        ul {
            height: 70px;
            margin-top: 10px;
        }

        li {
            background: none;
            border: 1px solid map-get($map: $color, $key: "crem");
            width: 25%;
            height: 60px;
            background-color: map-get($map: $color, $key: "opacity");

        }

        a {
            font-size: 11px;
            color: white;
            font-weight: lighter;
        }

    }

    .parallax1,
    .parallax2,
    .parallax3,
    .parallax4 {
        height: 50px;
    }

    .art-evento {
        display: block;
        text-align: center;
        height: auto;
        margin: 30px auto 40px auto;

        article {
            display: block;
            margin: 0 auto;
            width: 80%;
            font-size: 25px;
            height: 350px;
        }
    }

    .form-container {
        margin-top: 20px;

        input {
            width: 250px;
        }
        textarea{
            width: 320px;
            height: 150px;
        }
    }
    .google-maps {
        height: 200px;
        margin-bottom: 30px;
    }

}